HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!blockchain/ubuntu/src/main/**/target/
!blockchain/ubuntu/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!blockchain/ubuntu/src/main/**/build/
!blockchain/ubuntu/src/test/**/build/

### VS Code ###
.vscode/

### Local ###
/src/main/resources/application-local.properties

### Data ###
/data/*.mv.db
/data/*.h2.db
/.env

### Node.js ###
/blockchain/node_modules/
