body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #34495e, #2c3e50);
    font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Form */
.form-group {
    margin-bottom: 25px;
    position: relative;
}

/* Input */
.auth-input {
    width: 100%;
    padding: 10px 35px;
    min-height: 40px;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: #fff;
    outline: none;
    transition: 0.3s;
}

.auth-input::placeholder {
    font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.auth-input:focus {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.field-icon {
    position: absolute;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.6);
}

.form-text {
    float: right;
    padding: 12px 0;
    margin-top: 20px;
}

.form-text span {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: italic;
    font-size: 14px;
}

/* Button */
.bottom-btn {
    clear: both;
    text-align: center;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    cursor: pointer;
    border-radius: 0 0 20px 20px;
    margin: 30px -30px -30px -30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.bottom-btn a {
    color: #666;
    text-decoration: none;
    font-size: 14px;
}

.action-btn {
    margin-top: 20px;
}

/* Error */
.error-message {
    color: #ea5b5b;
    font-size: 14px;
    margin-top: 5px;
    font-weight: bold;
    animation: fadeIn 0.3s ease-in-out;
}

.input-error {
    border: 2px solid red;
    background: rgba(255, 0, 0, 0.1);
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}