.login-image-wrapper {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    margin: 0 auto 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.login-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-image: url("/public/logo.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
